@font-face {
    font-family: 'Futura Display';
    src: url(../fonts/Futura\ Display\ BQ\ Regular.otf);
}

input {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.inputArt {
    width: 250px;
    height: 30px;
    font-family: 'Futura Display';
    background-color: #5f5f5f;
    color: #292828;
    user-select: none;
    padding: 10px;
    font-size:25px;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 2px;
}

.inputArt::placeholder {
    user-select: none;
    font-size:25px;
    color: #292828;
}